* { margin: 0px; padding: 0px; }

body {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;

	background-color: #fafdff;
	color: #5a5d5f;
}

h1 {
	padding: 24px;
}

.correct { color: #25cf4d }
.error { color: #b3241a; }
